<h1>My first map</h1>

<div id="map" style="width: 800px; height: 600px"></div>

<script>
    mapboxgl.accessToken =
      "pk.eyJ1IjoibWx6eiIsImEiOiJjanUwbTRtaTQxc3RzNDRtZmdtaXF1dXVxIn0.k3hMbEeCzUKaDn2sIsULjA";

    const map = new mapboxgl.Map({
      container: "map",
      style: "mapbox://styles/mapbox/streets-v10",
      //center: [-99.1711, 19.399],
      //zoom: 15
    });

    map.addControl(new MapboxDirections({accessToken: mapboxgl.accessToken}), 'top-left')
    map.addControl(new mapboxgl.NavigationControl());


    const marker = new mapboxgl.Marker()
    .setLngLat([-99.1711, 19.399])
    .addTo(map);

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        const center = [
          position.coords.longitude,
          position.coords.latitude
        ];

        map.setZoom(12).setCenter(center);

        new mapboxgl.Marker({ color: "red" })
          .setLngLat(center)
          .setPopup(new mapboxgl.Popup().setHTML("<p>Usted está aquí</p>"))
          .addTo(map);
      });
    }

</script>